# String Based Practice Questions

# String Based Assignment Problem

In [1]:
#!pip install validate_email
#!pip install validators

In [2]:
#1. Write a program to reverse a string.
#Ask user to enetr a string
string = input("Enter a string: ")

#Reverese string by slicing
reverse_string = string[::-1]
print("Reverse of",string,"is",reverse_string)

Enter a string: India
Reverse of India is aidnI

In [3]:
#2. Check if a string is a palindrome.
#Ask user to enetr a string
string = input("Enter a string: ")

#Reverese string by slicing
reverse_string = string[::-1]

#Check for palindrome
if string==reverse_string:
    print("Given string is palindrome")
else:
    print("Given string is not a palindrome")

Enter a string: madam
Given string is palindrome

In [4]:
#3. Convert a string to uppercase.
#Ask user to enetr a string
string = input("Enter a string: ")

#Convert a string to uppercase
print("Uppercase of given string is:",string.upper())

Enter a string: python
Uppercase of given string is: PYTHON

In [5]:
#4. Convert a string to lowercase.
#Ask user to enetr a string
string = input("Enter a string: ")

#Convert a string to lowercase
print("Lowercase of given string is:",string.lower())

Enter a string: Python
Lowercase of given string is: python

In [6]:
#5. Count the number of vowels in a string.
#Ask user to enetr a string
string = input("Enter a string: ")

j=0 #initilize counter
for i in range(len(string)):
    if string[i] in ['a','e','i','o','u','A','E','I','O','U']:
        j=j+1
print("Number of vowels in a string is: ",j)

Enter a string: I am indian
Number of vowels in a string is:  5

In [7]:
#6. Count the number of consonants in a string.
#Ask user to enetr a string
string = input("Enter a string: ")

j=0 #initilize counter
for i in range(len(string)):
    if string[i] not in ['a','e','i','o','u','A','E','I','O','U']:
        j=j+1
print("Number of vowels in a string is: ",j)

Enter a string: I am indian
Number of vowels in a string is:  6

In [8]:
#7. Remove all whitespaces from a string.
#Ask user to enetr a string
string = input("Enter a string: ")

string_new = string.replace(' ','')

print("string after spaces removed is: ",string_new)

Enter a string: I am indian
string after spaces removed is:  Iamindian

In [9]:
#8. Find the length of a string without using the `len()` function.
#Ask user to enetr a string
string = input("Enter a string: ")

count = 0
for i in string:
    count = count+1

print("length of string is: ",count)

Enter a string: python
length of string is:  6

In [10]:
#9. Check if a string contains a specific word.
#Ask user to enetr a string
string = input("Enter a string: ")
word =input("Enter a word: ")

if word in string:
    print(word,"is presnt in",string)
else:
    print(word,"is not presnt in",string)

Enter a string: Nany is driving car
Enter a word: car
car is presnt in Nany is driving car

In [11]:
#10. Replace a word in a string with another word.
#Ask user to enetr a string
string = input("Enter a string: ")
print("The entered string is:",string)
word =input("Enter a word to replace: ")
word_replace =input("Enter a new word: ")
string_new = string.replace(word,word_replace)

print("string after replace word is: ",string_new)

Enter a string: Nany is driving car
The entered string is: Nany is driving car
Enter a word to replace: Nany
Enter a new word: Sunny
string after replace word is:  Sunny is driving car

In [13]:
#11. Count the occurrences of a word in a string.
string = input("Enter a string: ")

word =input("Enter a word to be count: ")
count1 = string.count(word)

print("Word: ",word,"count is:",count1)

Enter a string: Hi, Hello, Hi
Enter a word to be count: Hi
Word:  Hi count is: 2

In [14]:
#12. Find the first occurrence of a word in a string.

#Ask user to enetr a string
string = input("Enter a string: ")
word =input("Enter a word: ")

print("The first occurance of word",word,"is at:",string.find(word))

Enter a string: hi this is hi
Enter a word: hi
The first occurance of word hi is at: 0

In [15]:
#13. Find the last occurrence of a word in a string.
#Ask user to enetr a string
string = input("Enter a string: ")
word =input("Enter a word: ")

print("The last occurance of word",word,"is at:",string.rindex(word))

Enter a string: hi this is hi
Enter a word: hi
The last occurance of word hi is at: 11

In [16]:
#14. Split a string into a list of words.
#Ask user to enetr a string
string = input("Enter a string: ")
list1 = string.split(' ')

print(" list of words of given string is: ",list1)

Enter a string: I am indian
 list of words of given string is:  ['I', 'am', 'indian']

In [17]:
#15. Join a list of words into a string.
#Ask user to enetr a string
list1 = ['I','am','Indian']
string = ''.join(list1)

print(" string of words of given list is: ",string)

 string of words of given list is:  IamIndian

In [18]:
#16. Convert a string where words are separated by spaces to one where words are separated by underscores.
#Ask user to enetr a string
string = input("Enter a string: ")

print("Converted string Words seperated by underscore is:",string.replace(' ',"_"))

Enter a string: I am indian
Converted string Words seperated by underscore is: I_am_indian

In [19]:
#17. Check if a string starts with a specific word or phrase.
#Ask user to enetr a string
string = input("Enter a string: ")
word =input("Enter a word: ")

if string.startswith(word):
    print("Given string starts with:",word)
else:
    print("Given string doesn't starts with:",word)

Enter a string: Python is user friendly
Enter a word: Pyt
Given string starts with: Pyt

In [20]:
#18. Check if a string ends with a specific word or phrase.
#Ask user to enetr a string
string = input("Enter a string: ")
word =input("Enter a word: ")

if string.endswith(word):
    print("Given string ends with:",word)
else:
    print("Given string doesn't ends with:",word)

Enter a string: Python is user friendly
Enter a word: friendly
Given string ends with: friendly

In [21]:
#19. Convert a string to title case (e.g., "hello world" to "Hello World").
#Ask user to enetr a string
string = input("Enter a string: ")

print("Title case of given string is:",string.title())

Enter a string:  hello world
Title case of given string is:  Hello World

In [22]:
#20. Find the longest word in a string.
#Ask user to enetr a string
string = input("Enter a string: ")
len_list = []
my_list = string.split(' ')
for i in my_list:
    len_list.append(len(i))
l_index = len_list.index(max(len_list))
long_word = my_list[l_index]
print("The longest word in the string is: ",long_word," with length:",max(len_list))

Enter a string: I am indian
The longest word in the string is:  indian  with length: 6

In [23]:
#21. Find the shortest word in a string.
#Ask user to enetr a string
string = input("Enter a string: ")
len_list = []
my_list = string.split(' ')
for i in my_list:
    len_list.append(len(i))
l_index = len_list.index(min(len_list))
short_word = my_list[l_index]
print("The shortest word in the string is: ",short_word," with length:",min(len_list))

Enter a string: I am indian
The shortest word in the string is:  I  with length: 1

In [24]:
#22. Reverse the order of words in a string.
string = input("Enter a string: ")

my_list = string.split(' ')
my_list = my_list[::-1]
print("Reverse the order of words in a string: ",' '.join(my_list))

Enter a string: ram is friend of sham
Reverse the order of words in a string:  sham of friend is ram

In [25]:
#23. Check if a string is alphanumeric.
#Ask user to enetr a string
string = input("Enter a string: ")

if string.isalnum():
    print("string is alphanumeric")
else:
    print("string is not alphanumeric")

Enter a string: ABC1234
string is alphanumeric

In [26]:
#24. Extract all digits from a string.
#Ask user to enetr a string
string = input("Enter a string: ")

num = []
for i in string:
    if i.isdigit():
        num.append(i)
print("digits from a string are:",''.join(num))

Enter a string: ABC1234
digits from a string are: 1234

In [27]:
#25. Extract all alphabets from a string.
#Ask user to enetr a string
string = input("Enter a string: ")

num = []
for i in string:
    if i.isalpha():
        num.append(i)
print("alphabets from a string are:",''.join(num))

Enter a string: ABC1234
alphabets from a string are: ABC

In [28]:
#26. Count the number of uppercase letters in a string.
#Ask user to enetr a string
string = input("Enter a string: ")

count = 0
for i in string:
    if i.isupper():
        count = count+1
print("Count of uppercase letters in a string:",count)

Enter a string: Nancy is Cute Girl
Count of uppercase letters in a string: 3

In [29]:
#27. Count the number of lowercase letters in a string.
#Ask user to enetr a string
string = input("Enter a string: ")

count = 0
for i in string:
    if i.islower():
        count = count+1
print("Count of lowercase letters in a string:",count)

Enter a string: Nancy is Cute Girl
Count of lowercase letters in a string: 12

In [30]:
#28. Swap the case of each character in a string.
#Ask user to enetr a string
string = input("Enter a string: ")

print("Swaped string is:",string.swapcase())

Enter a string: iNDIA
Swaped string is: India

In [31]:
#29. Remove a specific word from a string.
#Ask user to enetr a string
string = input("Enter a string: ")
word =input("Enter a word: ")

print("String after removing word is:",string.replace(word,''))

Enter a string: Hi all this is ravi
Enter a word: all
String after removing word is: Hi  this is ravi

In [32]:
#30. Check if a string is a valid email address.
#Ask user to enetr a string
from validate_email import validate_email

string = input("Enter an email address: ")

if validate_email(string):
    print("Valid email address")
else:
    print("Invalid email address")

Enter an email address: abc@gmail.com
Valid email address

In [33]:
#31. Extract the username from an email address string.
string = input("Enter an email address: ")
index1 = string.index('@')
username = string[:index1]

print("username from an email address string: ",username)

Enter an email address: abc123@gmail.com
username from an email address string:  abc123

In [34]:
#32. Extract the domain name from an email address string.
string = input("Enter an email address: ")
index1 = string.index('@')
domain = string[index1+1:]

print("domain name from an email address string: ",domain)

Enter an email address: abc123@gmail.com
domain name from an email address string:  gmail.com

In [35]:
#33. Replace multiple spaces in a string with a single space.
#Ask user to enetr a string
string = input("Enter a string: ")
result = " ".join(string.split())
print("Modifies string is:",result)

Enter a string: Hi   hello   vishal
Modifies string is: Hi hello vishal

In [36]:
#34. Check if a string is a valid URL.
import validators
string = input("Enter an URL string: ")
if validators.url(string):
    print("Valid URL link")
else:
    print("Invalid URL link")

Enter an URL string: https://learn.pwskills.com/course/full-stack-data-science-pro
Valid URL link

In [37]:
#35. Extract the protocol (http or https) from a URL string.
string = input("Enter an URL string: ")
index1 = string.index(':')
URL_protocol = string[:index1]

print("Extracted protocol (http or https) from a URL string is: ",URL_protocol)
#https://learn.pwskills.com/course/full-stack-data-science-pro

Enter an URL string: https://learn.pwskills.com/course/full-stack-data-science-pro
Extracted protocol (http or https) from a URL string is:  https

In [38]:
#36. Find the frequency of each character in a string.
#Ask user to enetr a string
string = input("Enter a string: ")
freq = {}
for i in string:
    if i in freq:
        freq[i] += 1
    else:
        freq[i] = 1
print("frequency of each character in a string is:",freq)

Enter a string: pwskills
frequency of each character in a string is: {'p': 1, 'w': 1, 's': 2, 'k': 1, 'i': 1, 'l': 2}

In [39]:
#37. Remove all punctuation from a string.
string = input("Enter a string: ")
punc = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
for i in string:
    if i in punc:
        string = string.replace(i,"")
print("String after punctiations removed is:",string)

Enter a string: abc@12#
String after punctiations removed is: abc12

In [40]:
#38. Check if a string contains only digits.
string = input("Enter a string: ")
if string.isdigit():
    print("String contains only digits")
else:
    print("String not contains only digits")

Enter a string: 1234
String contains only digits

In [41]:
#39. Check if a string contains only alphabets.
string = input("Enter a string: ")
if string.isalpha():
    print("String contains only alphabets")
else:
    print("String not contains only alphabets")

Enter a string: abcd
String contains only alphabets

In [42]:
#40. Convert a string to a list of characters.
string = input("Enter a string: ")
print("string to a list of characters is:",list(string))

Enter a string: python
string to a list of characters is: ['p', 'y', 't', 'h', 'o', 'n']

In [43]:
#41. Check if two strings are anagrams.
string1 = input("Enter First string: ")
string2 = input("Enter Second string: ")

if set(list(string1))==set(list(string2)):
    print("Both strings are anagrams")
else:
    print("Both strings are not anagrams")

Enter First string: python
Enter Second string: pwskills
Both strings are not anagrams

In [44]:
#42. Encode a string using a Caesar cipher.
def caesar_cipher(text, shift):
    encoded_text = ""
    for char in text:
        if char.isalpha():
            encoded_char = chr((ord(char) + shift - ord('a')) % 26 + ord('a'))
        else:
            encoded_char = char

        encoded_text += encoded_char
    return encoded_text

text = "Hello, world!"
shift = 3

encoded_text = caesar_cipher(text, shift)

print("Encoded text:", encoded_text)

Encoded text: ehoor, zruog!

In [46]:
#43. Decode a Caesar cipher encoded string.
def caesar_cipher_decoder(text, shift):
    decoded_text = ""
    for char in text:
        if char.isalpha():
            decoded_char = chr((ord(char) - shift - ord('a')) % 26 + ord('a'))
        else:
            decoded_char = char
        decoded_text += decoded_char

    return decoded_text

text = "ehoor, zruog!"
shift = 3

decoded_text = caesar_cipher_decoder(text, shift)

print("Decoded text:", decoded_text)

Decoded text: bello, world!

In [47]:
#44. Find the most frequent word in a string.
import re
from collections import Counter

def most_frequent_word(input_string):
    clean_string = re.sub(r'[^\w\s]', '', input_string).lower()
    words = clean_string.split()
    word_counter = Counter(words)
    most_common_word = word_counter.most_common(1)[0][0]
    return most_common_word

input_str = "Hello world, hello there! How's the world?"
most_common = most_frequent_word(input_str)
print("Most frequent word:", most_common)

Most frequent word: hello

In [48]:
#45. Find all unique words in a string.
import re

def unique_words(input_string):
    clean_string = re.sub(r'[^\w\s]', '', input_string).lower()
    words = set(clean_string.split())

    return words

input_str = "Hello world, hello there! How's the world?"

unique_word_set = unique_words(input_str)

print("Unique words:", unique_word_set)

Unique words: {'hows', 'world', 'hello', 'there', 'the'}

In [49]:
#46. Count the number of syllables in a string.
import re

def count_syllables(word):
    # Count vowel groups using regular expression
    vowel_groups = re.findall(r'[aeiouy]+', word, re.IGNORECASE)

    return len(vowel_groups)

# Example words
word1 = "hello"
word2 = "banana"
word3 = "syllable"

# Count syllables
syllables1 = count_syllables(word1)
syllables2 = count_syllables(word2)
syllables3 = count_syllables(word3)

# Print the results
print(f"'{word1}' has {syllables1} syllables.")
print(f"'{word2}' has {syllables2} syllables.")
print(f"'{word3}' has {syllables3} syllables.")

'hello' has 2 syllables.
'banana' has 3 syllables.
'syllable' has 3 syllables.

In [50]:
#47. Check if a string contains any special characters.
import re

def contains_special_characters(input_string):
    # Define a regular expression pattern to match special characters
    pattern = re.compile(r'[!@#$%^&*()_+{}\[\]:;<>,.?~\\/]')

    # Use the search() method to find a match
    match = pattern.search(input_string)

    # Return True if a match is found, False otherwise
    return bool(match)

# Example strings
string1 = "Hello, world!"
string2 = "This is a test."
string3 = "Special@Characters"

# Check if strings contain special characters
result1 = contains_special_characters(string1)
result2 = contains_special_characters(string2)
result3 = contains_special_characters(string3)

# Print the results
print(f"'{string1}' contains special characters:", result1)
print(f"'{string2}' contains special characters:", result2)
print(f"'{string3}' contains special characters:", result3)

'Hello, world!' contains special characters: True
'This is a test.' contains special characters: True
'Special@Characters' contains special characters: True

In [51]:
#48. Remove the nth word from a string.
def remove_nth_word(input_string, n):
    # Split the input string into words
    words = input_string.split()

    # Check if n is within a valid range
    if n >= 1 and n <= len(words):
        # Remove the nth word by excluding it from the words list
        removed_word = words.pop(n - 1)

        # Join the remaining words to form the modified string
        modified_string = ' '.join(words)

        return modified_string, removed_word
    else:
        return None, None

# Example string and n value
input_str = "This is an example sentence to test the function."
n_value = 4

# Remove the nth word
modified_str, removed_word = remove_nth_word(input_str, n_value)

# Print the results
print("Original string:", input_str)
if modified_str is not None:
    print("Modified string:", modified_str)
    print("Removed word:", removed_word)
else:
    print("Invalid n value.")

Original string: This is an example sentence to test the function.
Modified string: This is an sentence to test the function.
Removed word: example

In [52]:
#49. Insert a word at the nth position in a string.
def insert_word_at_n(input_string, word_to_insert, n):
    # Split the input string into words
    words = input_string.split()

    # Check if n is within a valid range
    if n >= 0 and n <= len(words):
        # Insert the word at the nth position in the words list
        words.insert(n, word_to_insert)

        # Join the words to form the modified string
        modified_string = ' '.join(words)

        return modified_string
    else:
        return None

# Example string, word to insert, and n value
input_str = "This is a test string."
word_to_insert = "sample"
n_value = 3

# Insert the word at the nth position
modified_str = insert_word_at_n(input_str, word_to_insert, n_value)

# Print the results
print("Original string:", input_str)
if modified_str is not None:
    print("Modified string:", modified_str)
else:
    print("Invalid n value.")

Original string: This is a test string.
Modified string: This is a sample test string.

In [53]:
#50. Convert a CSV string to a list of lists.
def csv_string_to_list(csv_string):
    # Split the CSV string into lines
    lines = csv_string.split('\n')

    # Initialize an empty list to store the result
    result = []

    for line in lines:
        # Split each line into fields using comma as the delimiter
        fields = line.split(',')

        # Append the fields to the result list as a row
        result.append(fields)

    return result

# Example CSV string
csv_data = "Name, Age, Country\nJohn, 25, USA\nAlice, 30, Canada\nBob, 22, UK"

# Convert CSV string to a list of lists
list_of_lists = csv_string_to_list(csv_data)

# Print the result
for row in list_of_lists:
    print(row)

['Name', ' Age', ' Country']
['John', ' 25', ' USA']
['Alice', ' 30', ' Canada']
['Bob', ' 22', ' UK']

# List Based Practice Problem :

In [54]:
#1. Create a list with integers from 1 to 10.
my_list = [1,2,3,4,5,6,7,8,9,10]
#OR
my_list = []
for i in range(1,11):
    my_list.append(i)
print("List is: ",my_list)

List is:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [55]:
#2. Find the length of a list without using the `len()` function.
my_list = [1,2,3,4,5]
count = 0
for i in my_list:
    count +=1
print("lenght of list is:",count)

lenght of list is: 5

In [56]:
#3. Append an element to the end of a list.
my_list = [1,2,3,4,5]
my_list.append(6)
print("List after appending 6 is:",my_list)

List after appending 6 is: [1, 2, 3, 4, 5, 6]

In [57]:
#4. Insert an element at a specific index in a list.
my_list = [1,2,3,4,5]
my_list.insert(0,6)
print("List after insert 6 at inex 0 is:",my_list)

List after insert 6 at inex 0 is: [6, 1, 2, 3, 4, 5]

In [58]:
#5. Remove an element from a list by its value.
my_list = [1,2,3,4,5]
my_list.remove(3)
print("List after removing 3 is:",my_list)

List after removing 3 is: [1, 2, 4, 5]

In [59]:
#6. Remove an element from a list by its index.
my_list = [1,2,3,4,5]
my_list.pop(0)
print("List after removing element at index 0 is:",my_list)

List after removing element at index 0 is: [2, 3, 4, 5]

In [60]:
#7. Check if an element exists in a list.
my_list = [1,2,3,4,5]
e = eval(input("Enter element to check:"))
if e in my_list:
    print(e,"is exists in List")
else:
    print(e,"is not exists in List")

Enter element to check:4
4 is exists in List

In [61]:
#8. Find the index of the first occurrence of an element in a list.
my_list = [1,2,1,1,5]
e = eval(input("Enter element to find occurance:"))
print("first occurrence of an element",e,"is at index:",my_list.index(e))

Enter element to find occurance:1
first occurrence of an element 1 is at index: 0

In [62]:
#9. Count the occurrences of an element in a list.
my_list = [1,2,1,1,5]
e = eval(input("Enter element to find occurance:"))
print("number occurrence of an element",e,"is:",my_list.count(e))

Enter element to find occurance:1
number occurrence of an element 1 is: 3

In [63]:
#10. Reverse the order of elements in a list.
my_list = [1,2,1,1,5]
print("Reverese order of list is:",my_list[::-1])

Reverese order of list is: [5, 1, 1, 2, 1]

In [64]:
#11. Sort a list in ascending order.
my_list = [1,3,0,45,34]
my_list.sort()
print("ascending order of list is:",my_list)

ascending order of list is: [0, 1, 3, 34, 45]

In [65]:
#12. Sort a list in descending order.
my_list = [1,3,0,45,34]
my_list.sort(reverse=True)
print("descending order of list is:",my_list)

descending order of list is: [45, 34, 3, 1, 0]

In [66]:
#13. Create a list of even numbers from 1 to 20.
my_list = [i for i in range(2,21,2)]
print("list of even numbers from 1 to 20 is:",my_list)

list of even numbers from 1 to 20 is: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [67]:
#14. Create a list of odd numbers from 1 to 20.
my_list = [i for i in range(1,20,2)]
print("list of odd numbers from 1 to 20 is:",my_list)

list of odd numbers from 1 to 20 is: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [68]:
#15. Find the sum of all elements in a list.
my_list = [1,3,0,45,34]
print("sum of all elements in a list is:",sum(my_list))

sum of all elements in a list is: 83

In [69]:
#16. Find the maximum value in a list.
my_list = [1,3,0,45,34]
print("maximum value in a listt is:",max(my_list))

maximum value in a listt is: 45

In [70]:
#17. Find the minimum value in a list.
my_list = [1,3,0,45,34]
print("minimum value in a list is:",min(my_list))

minimum value in a list is: 0

In [71]:
#18. Create a list of squares of numbers from 1 to 10.
my_list = [i**2 for i in range(1,11)]
print("Square of 1 to 10 is:",my_list)

Square of 1 to 10 is: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [72]:
#19. Create a list of random numbers.
from random import randint

my_list = []
for i in range(10):
    my_list.append(randint(1,20))
print("Random numbers list is:",my_list)

Random numbers list is: [1, 5, 1, 11, 7, 2, 13, 7, 19, 14]

In [73]:
#20. Remove duplicates from a list.
my_list = [1,3,0,45,34,1,3]
print("After duplicates removal list is:",list(set(my_list)))

After duplicates removal list is: [0, 1, 34, 3, 45]

In [74]:
#21. Find the common elements between two lists.
my_list1 = [1,3,0,45,34,1,3]
my_list2 = [2,3,0,45,56,76]
set1 = set(my_list1)
set2 = set(my_list2)
set3 = set1.intersection(set2)
print("common elements between two lists are:",list(set3))

common elements between two lists are: [0, 3, 45]

In [75]:
#22. Find the difference between two lists.
my_list1 = [1,3,0,45,34,1,3]
my_list2 = [2,3,0,45,56,76]
temp = []
for i in my_list1:
    if i not in my_list2:
        temp.append(i)
print("difference between two lists are:",temp)

difference between two lists are: [1, 34, 1]

In [76]:
#23. Merge two lists.
my_list1 = [1,3,0,45,34,1,3]
my_list2 = [2,3,0,45,56,76]
print("After merging complete list is:",my_list1+my_list2)

After merging complete list is: [1, 3, 0, 45, 34, 1, 3, 2, 3, 0, 45, 56, 76]

In [77]:
#24. Multiply all elements in a list by 2.
my_list1 = [1,3,0,45,34,1,3]
mul_by_2 = [i*2 for i in my_list]
print("After multiply by 2 list is:",mul_by_2)

After multiply by 2 list is: [2, 6, 0, 90, 68, 2, 6]

In [78]:
#25. Filter out all even numbers from a list.
my_list1 = [1,3,0,45,34,1,3]
Even = [i for i in my_list if i%2==0]
print("After Filter out all even numbers from a list:",Even)

After Filter out all even numbers from a list: [0, 34]

In [79]:
#26. Convert a list of strings to a list of integers.
my_list1 = ['1','3','0','45','34','1','3']
list_int = [int(i) for i in my_list1]
print("After Converting a list of strings to a list of integers.",list_int)

After Converting a list of strings to a list of integers. [1, 3, 0, 45, 34, 1, 3]

In [80]:
#27. Convert a list of integers to a list of strings.
my_list1 = [1,3,0,45,34,1,3]
list_str = [str(i) for i in my_list1]
print("After Converting a list of integers to list of strings:",list_str)

After Converting a list of integers to list of strings: ['1', '3', '0', '45', '34', '1', '3']

In [81]:
#28. Flatten a nested list.
my_list = [1, 2, [3, 4, [5, 6]], 7, 8, [9, [10]]]

output = []

def reemovNestings(my_list):
    for i in my_list:
        if type(i) == list:
            reemovNestings(i)
        else:
            output.append(i)
    return output
            
print("Flatten list is:",reemovNestings(my_list))

Flatten list is: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [82]:
#29. Create a list of the first 10 Fibonacci numbers.
num = 10
n1, n2 = 0, 1
my_list =[]
my_list.extend([n1,n2])
for i in range(2, num):
    n3 = n1 + n2
    n1 = n2
    n2 = n3
    my_list.append(n3)
print("list of the first 10 Fibonacci numbers:",my_list)

list of the first 10 Fibonacci numbers: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [83]:
#30. Check if a list is sorted.
my_list = [1,2,3,4,5]

if my_list==sorted(my_list):
    print("List is sorted")
else:
    print("List is not sorted")

List is sorted

In [84]:
#31. Rotate a list to the left by `n` positions.
my_list = [1,2,3,4,5,6,7,8,9,10]
n = int(input("Enter position for left rotate: "))

new_list = my_list[n:] + my_list[:n]
print("Original list is:",my_list)
print("Rotated list is:",new_list)

Enter position for left rotate: 4
Original list is: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Rotated list is: [5, 6, 7, 8, 9, 10, 1, 2, 3, 4]

In [85]:
#32. Rotate a list to the right by `n` positions.
my_list = [1,2,3,4,5,6,7,8,9,10]
n = int(input("Enter position for right rotate"))

new_list = my_list[-n:] + my_list[:-n]
print("Original list is:",my_list)
print("Rotated list is:",new_list)

Enter position for right rotate4
Original list is: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Rotated list is: [7, 8, 9, 10, 1, 2, 3, 4, 5, 6]

In [86]:
#33. Create a list of prime numbers up to 50.
print([i for i in range(2, 50) if 0 not in [i%n for n in range(2, i)]])

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [87]:
#34. Split a list into chunks of size `n`.
my_list = [1,2,3,4,5,6,7,8,9]
n = int(input("Enter chunk size: "))
chunk_list = []
for i in range(0,len(my_list),n):
    chunk_list.append(my_list[i:i+n])
print("chunks split of given list is: ",chunk_list)

Enter chunk size: 3
chunks split of given list is:  [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [88]:
#35. Find the second largest number in a list.
my_list = [7, 8, 9, 10, 1, 2, 3, 4, 5, 6]
my_list.sort()
print("Second largest number in a list is: ",my_list[-2])

Second largest number in a list is:  9

In [90]:
#36. Replace every element in a list with its square.
my_list = [7, 8, 9, 10, 1, 2, 3, 4, 5, 6]
my_list = [i**2 for i in my_list]
print("Square list is: ",my_list)

Square list is:  [49, 64, 81, 100, 1, 4, 9, 16, 25, 36]

In [91]:
#37. Convert a list to a dictionary where list elements become keys and their indices become values.
my_list = [7, 8, 9, 10, 1, 2, 3, 4, 5, 6]
index_list = [i for i in range(len(my_list))]
dict1 = dict(zip(my_list,index_list))
print(dict1)

{7: 0, 8: 1, 9: 2, 10: 3, 1: 4, 2: 5, 3: 6, 4: 7, 5: 8, 6: 9}

In [92]:
#38. Shuffle the elements of a list randomly.
import random
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
random.shuffle(my_list)
print("Shuffled list:", my_list)

Shuffled list: [1, 4, 2, 8, 9, 10, 5, 6, 7, 3]

In [93]:
#39. Create a list of the first 10 factorial numbers.
fact = []

for n in range(1,10):
    factorial=1
    for i in range(1,n+1):
        factorial = factorial*i
    fact.append(factorial)
print("list of the first 10 factorial numbers: ",fact )

list of the first 10 factorial numbers:  [1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [94]:
#40. Check if two lists have at least one element in common.
my_list1 = [1,3,0,45,34,1,3]
my_list2 = [2,-3,11,23]
#my_list2 = [2,3,0,45,56,76]

set1 = set(my_list1)
set2 = set(my_list2)
set3 = set1.intersection(set2)
if list(set3)==[]:
    print("Nothing is common")
else:
    print("Common elements are: ",list(set3))

Nothing is common

In [95]:
#41. Remove all elements from a list.
my_list1 = [1,3,0,45,34,1,3]
my_list1.clear()
print("After removing all elements from list:",my_list1)

After removing all elements from list: []

In [97]:
#42. Replace negative numbers in a list with 0.
my_list = [1,-3,0,45,-34,1,3]
for i in range(len(my_list)):
    if my_list[i] < 0:
        my_list[i] = 0

print("List after replacing negative numbers with 0:", my_list)

List after replacing negative numbers with 0: [1, 0, 0, 45, 0, 1, 3]

In [98]:
#43. Convert a string into a list of words.
my_string = input("Enter A string: ")
my_list = my_string.split(' ')
print("string into a list of words:",my_list)

Enter A string: hi how are you
string into a list of words: ['hi', 'how', 'are', 'you']

In [99]:
#44. Convert a list of words into a string.
my_list =  ['I', 'am', 'human']
my_string = ' '.join(my_list)
print("list of words into a string:",my_string)

list of words into a string: I am human

In [100]:
#45. Create a list of the first `n` powers of 2.
n = int(input("Please eneter value of n: "))
my_list=[2**n for n in range(n+1)]
print("list of the first", n, "powers of 2: ",my_list)

Please eneter value of n: 5
list of the first 5 powers of 2:  [1, 2, 4, 8, 16, 32]

In [101]:
#46. Find the longest string in a list of strings.
my_list =  ['I', 'am', 'human']
len_list = []
for i in my_list:
    len_list.append(len(i))
l_index = len_list.index(max(len_list))
long_word = my_list[l_index]
print("longest string in a list of strings: ",long_word," with length:",max(len_list))

longest string in a list of strings:  human  with length: 5

In [102]:
#47. Find the shortest string in a list of strings.
my_list =  ['I', 'am', 'human']
len_list = []
for i in my_list:
    len_list.append(len(i))
l_index = len_list.index(min(len_list))
short_word = my_list[l_index]
print("shortest string in a list of strings: ",short_word," with length:",min(len_list))

shortest string in a list of strings:  I  with length: 1

In [103]:
#48. Create a list of the first `n` triangular numbers.
limit = 10
triangle_nums = []
num = 0

for i in range(1, limit + 1):
    num += i
    triangle_nums.append(num)
print("list of the first `n` triangular numbers:",triangle_nums)

list of the first `n` triangular numbers: [1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

In [104]:
#49. Check if a list contains another list as a subsequence.
def is_subsequence(subsequence, main_list):
    subseq_index = 0  # Index for the subsequence elements
    for element in main_list:
        if element == subsequence[subseq_index]:
            subseq_index += 1
            if subseq_index == len(subsequence):
                return True
    return False

# Example main list and subsequence
main_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
subsequence = [3, 5, 8]

# Check if the main list contains the subsequence
if is_subsequence(subsequence, main_list):
    print("Main list contains the subsequence.")
else:
    print("Main list does not contain the subsequence.")

Main list contains the subsequence.

In [106]:
#50. Swap two elements in a list by their indices.
my_list1 = [1,3,0,45,34,1,3]

index1 = int(input("Enter index1 to swap: "))
index2 = int(input("Enter index2 to swap: "))
my_list1[index1],my_list1[index2] = my_list1[index2],my_list1[index1]

print(f"List after swapping element at index {index1} & {index2} is {my_list1}")

Enter index1 to swap: 0
Enter index2 to swap: 4
List after swapping element at index 0 & 4 is [34, 3, 0, 45, 1, 1, 3]

# Tuple Based Practice Problem :

In [107]:
#1. Create a tuple with integers from 1 to 5.
tup = (1,2,3,4,5)
print("tuple with integers from 1 to 5: ",tup)

tuple with integers from 1 to 5:  (1, 2, 3, 4, 5)

In [108]:
#2. Access the third element of a tuple.
tup = (1,2,3,4,5)
print("third element of a tuple: ",tup[2])

third element of a tuple:  3

In [109]:
#3. Find the length of a tuple without using the `len()` function.
tup = (1,2,3,4,5)
count = 0
for i in tup:
    count +=1
print("lenght of tuple is:",count)

lenght of tuple is: 5

In [110]:
#4. Count the occurrences of an element in a tuple.
tup = (1,2,3,4,5,1,2,3,2,1)
e = eval(input("Enter the element to count occurrences: "))
print("occurrences of an element",e,"in a tuple is",tup.count(e))

Enter the element to count occurrences: 2
occurrences of an element 2 in a tuple is 3

In [111]:
#5. Find the index of the first occurrence of an element in a tuple.
tup = (1,2,3,4,5,1,2,3,2,1)
e = eval(input("Enter the element to check first occurrences: "))
print("First occurrences of an element",e,"in a tuple is",tup.index(e))

Enter the element to check first occurrences: 3
First occurrences of an element 3 in a tuple is 2

In [112]:
#6. Check if an element exists in a tuple.
tup = (1,2,3,4,5)
e = eval(input("Enter the element to check existance: "))
if e in tup:
    print(e,"is present in",tup)
else:
    print(e,"is present in",tup)

Enter the element to check existance: 3
3 is present in (1, 2, 3, 4, 5)

In [113]:
#7. Convert a tuple to a list.
tup = (1,2,3,4,5)
my_list = list(tup)
print("Converted tuple to list is: ",my_list)

Converted tuple to list is:  [1, 2, 3, 4, 5]

In [114]:
#8. Convert a list to a tuple.
my_list = [1,2,3,4,5]
tup = tuple(my_list)
print("Converted list to tuple is: ",tup)

Converted list to tuple is:  (1, 2, 3, 4, 5)

In [116]:
#9. Unpack the elements of a tuple into variables.
my_tuple = (10, 20, 30)

var1, var2, var3 = my_tuple

print("var1:", var1)
print("var2:", var2)
print("var3:", var3)

var1: 10
var2: 20
var3: 30

In [117]:
#10. Create a tuple of even numbers from 1 to 10.
tup = tuple([i for i in range(2,11,2)])
print("tuple of even numbers from 1 to 10 is: ",tup)

tuple of even numbers from 1 to 10 is:  (2, 4, 6, 8, 10)

In [118]:
#11. Create a tuple of odd numbers from 1 to 10.
tup = tuple([i for i in range(1,10,2)])
print("tuple of odd numbers from 1 to 10 is: ",tup)

tuple of odd numbers from 1 to 10 is:  (1, 3, 5, 7, 9)

In [119]:
#12. Concatenate two tuples.
tup1 = (1,2,3,4,5)
tup2 = (6,7,8,9,10)
print("Concated tuple is:",tup1+tup2)

Concated tuple is: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [120]:
#13. Repeat a tuple three times.
tup1 = (1,2,3,4,5)
print("tuple*3 is: ",tup1*3)

tuple*3 is:  (1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [121]:
#14. Check if a tuple is empty.
tup1 = (1,2,3,4,5)
if tup1==():
    print("Tuple is empty")
else:
      print("Tuple is not empty")

Tuple is not empty

In [122]:
#15. Create a nested tuple.
tup1 = (5, 4)  
tup2 = (1, 6)  
nested = ((tup1, ) + (tup2, ))
print("The nested tuple " + str(nested))

The nested tuple ((5, 4), (1, 6))

In [123]:
#16. Access the first element of a nested tuple.
nested_tup = ((5, 4), (1, 6))
print("the first element of a nested tuple is: ",nested_tup[0])

the first element of a nested tuple is:  (5, 4)

In [124]:
#17. Create a tuple with a single element.
print("tuple with a single element is: ",(1,))

tuple with a single element is:  (1,)

In [125]:
#18. Compare two tuples.

tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4)

print("tuple1 == tuple2:", tuple1 == tuple2)  # Equality check
print("tuple1 != tuple2:", tuple1 != tuple2)  # Inequality check
print("tuple1 < tuple2:", tuple1 < tuple2)    # Less than check
print("tuple1 <= tuple2:", tuple1 <= tuple2)  # Less than or equal to check
print("tuple1 > tuple2:", tuple1 > tuple2)    # Greater than check
print("tuple1 >= tuple2:", tuple1 >= tuple2)  # Greater than or equal to check

tuple1 == tuple2: False
tuple1 != tuple2: True
tuple1 < tuple2: True
tuple1 <= tuple2: True
tuple1 > tuple2: False
tuple1 >= tuple2: False

In [126]:
#19. Delete a tuple.
tup1 = (5, 4)
del(tup1)
tup1

NameError: name 'tup1' is not defined

In [127]:
#20. Slice a tuple.
tup1 = (1,2,3,4,5)
print("Slice os tuple: ",tup1[0:2])

Slice os tuple:  (1, 2)

In [128]:
#21. Find the maximum value in a tuple.
tup1 = (1,2,3,4,5)
print("maximum value in a tuple: ",max(tup1))

maximum value in a tuple:  5

In [129]:
#22. Find the minimum value in a tuple.
tup1 = (1,2,3,4,5)
print("minimum value in a tuple: ",min(tup1))

minimum value in a tuple:  1

In [130]:
#23. Convert a string to a tuple of characters.
string = input("Enter a string: ")
print("Converted a string to a tuple of characters: ",tuple(string))

Enter a string: python
Converted a string to a tuple of characters:  ('p', 'y', 't', 'h', 'o', 'n')

In [131]:
#24. Convert a tuple of characters to a string.
tup = ('a', 'n', 'i', 'k', 'e', 't')
string = ''.join(tup)
print("Converted tuple of characters to string: ",string)

Converted tuple of characters to string:  aniket

In [132]:
#25. Create a tuple from multiple data types.
list1 = [1,2,3,4,5]
set1 = {1,2,1,2,3}
string = "Hello python"
print("List to tuple: ",tuple(list1))
print("Set to tuple: ",tuple(set1))
print("string to tuple: ",tuple(string))

List to tuple:  (1, 2, 3, 4, 5)
Set to tuple:  (1, 2, 3)
string to tuple:  ('H', 'e', 'l', 'l', 'o', ' ', 'p', 'y', 't', 'h', 'o', 'n')

In [133]:
#26. Check if two tuples are identical.
tup1 = (5, 4)  
tup2 = (1, 6)
if tup1==tup2:
    print("Both tuple are identical")
else:
    print("Both tuple are not identical")

Both tuple are not identical

In [134]:
#27. Sort the elements of a tuple.
tup = (2,1,3,6,5,4)
tup_sort = tuple(sorted(tup))
print("Sorted elemts of a tuple: ",tup_sort)

Sorted elemts of a tuple:  (1, 2, 3, 4, 5, 6)

In [135]:
#28. Convert a tuple of integers to a tuple of strings.
tup = (2,1,3,6,5,4)
lst = []
for i in range(len(tup)):
    a = tup[i]
    lst.append(str(a))
print("Converted a tuple of integers to a tuple of strings:",tuple(lst))

Converted a tuple of integers to a tuple of strings: ('2', '1', '3', '6', '5', '4')

In [136]:
#29. Convert a tuple of strings to a tuple of integers.
tup = ('2', '1', '3', '6', '5', '4')
lst = []
for i in range(len(tup)):
    a = tup[i]
    lst.append(int(a))
print("Converted a tuple of strings to a tuple of integers:",tuple(lst))

Converted a tuple of strings to a tuple of integers: (2, 1, 3, 6, 5, 4)

In [137]:
#30. Merge two tuples.
tup1 = (1,2,3,4,5)
tup2 = (6,7,8,9,10)
print("Merge tuple is:",tup1+tup2)

Merge tuple is: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [138]:
#31. Flatten a nested tuple.
my_tup = (1, 2, (3, 4, (5, 6)), 7, 8, (9, (10)))

output = []

def removeNestings(my_tup):
    for i in my_tup:
        if type(i) == tuple:
            removeNestings(i)
        else:
            output.append(i)
    return output
            
print("Flatten tuple is:",tuple(removeNestings(my_tup)))

Flatten tuple is: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [140]:
#32. Create a tuple of the first 5 prime numbers.
print(tuple([i for i in range(2, 12) if 0 not in [i%n for n in range(2, i)]]))

(2, 3, 5, 7, 11)

In [141]:
#33. Check if a tuple is a palindrome.
tup1 = (1,2,3,2,1)

#Check for palindrome
if tup1==tup1[::-1]:
    print("Given tuple is palindrome")
else:
    print("Given tuple is not a palindrome")

Given tuple is palindrome

In [142]:
#34. Create a tuple of squares of numbers from 1 to 5.
print(tuple([i*i for i in range(1, 6)]))

(1, 4, 9, 16, 25)

In [145]:
#35. Filter out all even numbers from a tuple.
tup = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
tup = tuple(i for i in tup if i%2==0)
print("tuple of even numbers is: ",tup)

tuple of even numbers is:  (2, 4, 6, 8, 10)

In [144]:
#36. Multiply all elements in a tuple by 2.
tup = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
tup = tuple(i*2 for i in tup)
print("Multiply all elements in a tuple by 2: ",tup)

Multiply all elements in a tuple by 2:  (2, 4, 6, 8, 10, 12, 14, 16, 18, 20)

In [146]:
#37. Create a tuple of random numbers.
from random import randint

my_list = []
for i in range(10):
    my_list.append(randint(1,20))
print("Random numbers tuple is:",tuple(my_list))

Random numbers tuple is: (13, 2, 9, 12, 17, 1, 1, 11, 11, 10)

In [147]:
#38. Check if a tuple is sorted.
tup = (1,2,3,4,5)

if tup==sorted(tup):
    print("tup is sorted")
else:
    print("tup is not sorted")

tup is not sorted

In [148]:
#39. Rotate a tuple to the left by `n` positions.
tup = (1,2,3,4,5,6,7,8,9,10)
n = int(input("Enter position for left rotate: "))

new_tup = tup[n:] + tup[:n]
print("Original list is:",tup)
print("Rotated list is:",new_tup)

Enter position for left rotate: 5
Original list is: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
Rotated list is: (6, 7, 8, 9, 10, 1, 2, 3, 4, 5)

In [149]:
#40. Rotate a tuple to the right by `n` positions.
tup = (1,2,3,4,5,6,7,8,9,10)
n = int(input("Enter position for right rotate: "))

new_tup = tup[-n:] + tup[:-n]
print("Original list is:",tup)
print("Rotated list is:",new_tup)

Enter position for right rotate: 4
Original list is: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
Rotated list is: (7, 8, 9, 10, 1, 2, 3, 4, 5, 6)

In [150]:
#41. Create a tuple of the first 5 Fibonacci numbers.
num = 5
n1, n2 = 0, 1
my_list =[]
my_list.extend([n1,n2])
for i in range(2, num):
    n3 = n1 + n2
    n1 = n2
    n2 = n3
    my_list.append(n3)
print("tuple of the first 10 Fibonacci numbers:",tuple(my_list))

tuple of the first 10 Fibonacci numbers: (0, 1, 1, 2, 3)

In [151]:
#42. Create a tuple from user input.
a = input("Enter tuple values sepeated by commas: ")
a = tuple(eval(x) for x in a.split(","))
print("Entered tuple is: ",a)

Enter tuple values sepeated by commas: 1,2,3,4,5
Entered tuple is:  (1, 2, 3, 4, 5)

In [152]:
#43. Swap two elements in a tuple.
my_tup = (1,3,0,45,34,1,3)
my_list1 = list(my_tup)
index1 = int(input("Enter index1 to swap: "))
index2 = int(input("Enter index2 to swap: "))
my_list1[index1],my_list1[index2] = my_list1[index2],my_list1[index1]
my_tup = tuple(my_list1)
print(f"List after swapping element at index {index1} & {index2} is {my_tup}")

Enter index1 to swap: 0
Enter index2 to swap: 4
List after swapping element at index 0 & 4 is (34, 3, 0, 45, 1, 1, 3)

In [153]:
#44. Reverse the elements of a tuple.
my_tup = (1,3,0,45,34,1,3)

tup_rev = my_tup[::-1]
print(f"Reverese of tuple {my_tup} is {tup_rev}")

Reverese of tuple (1, 3, 0, 45, 34, 1, 3) is (3, 1, 34, 45, 0, 3, 1)

In [154]:
#45. Create a tuple of the first `n` powers of 2.
n = int(input("Enter a value of n: "))
tup = tuple([2**i for i in range(n+1)])
print("tuple of the first `n` powers of 2:",tup)

Enter a value of n: 6
tuple of the first `n` powers of 2: (1, 2, 4, 8, 16, 32, 64)

In [155]:
#46. Find the longest string in a tuple of strings.
tup = ('I','love','Python')
print("longest string in a tuple of strings is:",max(tup,key=len))

longest string in a tuple of strings is: Python

In [156]:
#47. Find the shortest string in a tuple of strings.
tup = ('I','love','Python')
print("shortest string in a tuple of strings is:",min(tup,key=len))

shortest string in a tuple of strings is: I

In [157]:
#48. Create a tuple of the first `n` triangular numbers.
limit = 10
triangle_nums = []
num = 0

for i in range(1, limit + 1):
    num += i
    triangle_nums.append(num)
print("tuple of the first `n` triangular numbers:",tuple(triangle_nums))

tuple of the first `n` triangular numbers: (1, 3, 6, 10, 15, 21, 28, 36, 45, 55)

In [158]:
#49. Check if a tuple contains another tuple as a subsequence.
def contains_subsequence(main_tuple, sub_tuple):
    sub_length = len(sub_tuple)
    for i in range(len(main_tuple) - sub_length + 1):
        if main_tuple[i:i+sub_length] == sub_tuple:
            return True
    return False

main_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)

sub_tuple = (3, 4, 5)

contains_subseq = contains_subsequence(main_tuple, sub_tuple)

print("Main tuple contains subsequence tuple:", contains_subseq)

Main tuple contains subsequence tuple: True

In [159]:
#50. Create a tuple of alternating 1s and 0s of length `n`.

n = int(input("Enter a value of n: "))
if n%2==0:
    tup = (1,0)*(n//2)
else:
    tup = (1,0)*(n//2) + (1,)
print(f"tuple of alternating 1s and 0s of length {n}: {tup}")

Enter a value of n: 5
tuple of alternating 1s and 0s of length 5: (1, 0, 1, 0, 1)

# Set Based Practice Problem :

In [160]:
#1. Create a set with integers from 1 to 5.
my_set = {1,2,3,4,5}
print("set with integers from 1 to 5",my_set)

set with integers from 1 to 5 {1, 2, 3, 4, 5}

In [161]:
#2. Add an element to a set.
my_set = {1,2,3,4,5}
my_set.add(6)
print(f"set after adding 6 is: {my_set}")

set after adding 6 is: {1, 2, 3, 4, 5, 6}

In [162]:
#3. Remove an element from a set.
my_set = {1,2,3,4,5}
my_set.remove(3)
print(f"set after removing 3 is: {my_set}")

set after removing 3 is: {1, 2, 4, 5}

In [163]:
#4. Check if an element exists in a set.
my_set = {1,2,3,4,5}
e = eval(input("Enter the element you want to search: "))
if e in my_set:
    print(f"{e} is present in set {my_set}")
else:
    print(f"{e} is not present in set {my_set}")

Enter the element you want to search: 2
2 is present in set {1, 2, 3, 4, 5}

In [164]:
#5. Find the length of a set without using the `len()` function.
my_set = {1,2,3,4,5}
count = 0
for i in my_set:
    count +=1
print("lenght of set is:",count)

lenght of set is: 5

In [165]:
#6. Clear all elements from a set.
my_set = {1,2,3,4,5}
my_set.clear()
print("After Clearing all elements from a set ",my_set)

After Clearing all elements from a set  set()

In [166]:
#7. Create a set of even numbers from 1 to 10.
my_set = set([i for i in range(1,11) if i%2==0])
print("set of even numbers from 1 to 10: ",my_set)

set of even numbers from 1 to 10:  {2, 4, 6, 8, 10}

In [167]:
#8. Create a set of odd numbers from 1 to 10.
my_set = set([i for i in range(1,11) if i%2==1])
print("set of odd numbers from 1 to 10: ",my_set)

set of odd numbers from 1 to 10:  {1, 3, 5, 7, 9}

In [168]:
#9. Find the union of two sets.
my_set1 = {0,5,34,-4,56}
my_set2 = {3,5,56,-9,0}
print("the union of two sets: ",my_set1.union(my_set2))

the union of two sets:  {0, 34, 3, 5, -9, 56, -4}

In [169]:
#10. Find the intersection of two sets.
my_set1 = {0,5,34,-4,56}
my_set2 = {3,5,56,-9,0}
print("the intersection of two sets: ",my_set1.intersection(my_set2))

the intersection of two sets:  {0, 56, 5}

In [170]:
#11. Find the difference between two sets.
my_set1 = {0,5,34,-4,56}
my_set2 = {3,5,56,-9,0}
print("the difference of two sets: ",my_set1.difference(my_set2))

the difference of two sets:  {34, -4}

In [171]:
#12. Check if a set is a subset of another set.
my_set1 = {0,5,34,-4,56}
my_set2 = {5,56,0}

if my_set2.issubset(my_set1):
    print(f"{my_set2} is a subset of {my_set1}")
else:
    print(f"{my_set2} is not a subset of {my_set1}")

{56, 0, 5} is a subset of {0, 34, 5, 56, -4}

In [172]:
#13. Check if a set is a superset of another set.
my_set1 = {0,5,34,-4,56}
my_set2 = {5,56,0}

if my_set1.issuperset(my_set2):
    print(f"{my_set1} is a superset of {my_set2}")
else:
    print(f"{my_set1} is not a superset of {my_set2}")

{0, 34, 5, 56, -4} is a superset of {56, 0, 5}

In [173]:
#14. Create a set from a list.
my_list = [1,2,3,4,5]
my_set = set(my_list)
print("set from a list is: ",my_set)

set from a list is:  {1, 2, 3, 4, 5}

In [174]:
#15. Convert a set to a list.
my_set = {1,2,3,4,5}
my_list = list(my_list)
print("list from a set is: ",my_list)

list from a set is:  [1, 2, 3, 4, 5]

In [175]:
#16. Remove a random element from a set.
import random
my_set = {1,2,3,4,5}
e = random.sample(my_set, 1)[0]
my_set.remove(e)
print("Removing random element from set: ",my_set)

Removing random element from set:  {1, 2, 3, 5}

In [176]:
#17. Pop an element from a set.
my_set = {1,2,3,4,5}
my_set.pop()
print("After poping the set is: ",my_set)

After poping the set is:  {2, 3, 4, 5}

In [177]:
#18. Check if two sets have no elements in common.
my_set1 = {1,80,34,-4,6}
my_set2 = {3,5,56,-9,0}
if my_set1.isdisjoint(my_set2):
    print("two sets have no elements in common")
else:
    print("two sets have elements in common")

two sets have no elements in common

In [178]:
#19. Find the symmetric difference between two sets.
my_set1 = {1,2,3,4,5}
my_set2 = {3,5}

print(" symmetric difference between two sets: ",my_set1.symmetric_difference(my_set2))

 symmetric difference between two sets:  {1, 2, 4}

In [179]:
#20. Update a set with elements from another set.
my_set1 = {1,2,3,4,5}
my_set2 = {6,7}
my_set1.update(my_set2)
print("Updated set is: ",my_set1)

Updated set is:  {1, 2, 3, 4, 5, 6, 7}

In [180]:
#21. Create a set of the first 5 prime numbers.
print(set([i for i in range(2, 6) if 0 not in [i%n for n in range(2, i)]]))

{2, 3, 5}

In [181]:
#22. Check if two sets are identical.
my_set1 = {1,2,3,4,5}
my_set2 = {6,7}

if my_set1 == my_set2:
    print(f"{my_set1} and {my_set2} are identical")
else:
    print(f"{my_set1} and {my_set2} are not identical")

{1, 2, 3, 4, 5} and {6, 7} are not identical

In [182]:
#23. Create a frozen set.
print("frozen set:",frozenset([1,2,3,4,5]))

frozen set: frozenset({1, 2, 3, 4, 5})

In [185]:
#24. Check if a set is disjoint with another set.
my_set1 = {1,80,34,-4,6}
my_set2 = {3,5,56,-9,0}
if my_set1.isdisjoint(my_set2):
    print(f"{my_set1} is disjoint with {my_set2}") 
else:
    print(f"{my_set1} is not disjoint with {my_set2}")

{1, 34, 6, 80, -4} is disjoint with {0, 3, 5, -9, 56}

In [186]:
#25. Create a set of squares of numbers from 1 to 5.
my_set = set([i**2 for i in range(1,6)])
print("set of squares of numbers from 1 to 5: ",my_set)

set of squares of numbers from 1 to 5:  {1, 4, 9, 16, 25}

In [187]:
#26. Filter out all even numbers from a set.
my_set = {1,80,34,-4,6}
my_set = list(filter(lambda x: (x%2==0), my_set))
print("Filtered even number from set is",set(my_set))

Filtered even number from set is {80, 34, -4, 6}

In [188]:
#27. Multiply all elements in a set by 2.
my_set = {1,80,34,-4,6}
my_set = list(map(lambda x: (x*2), my_set))
print("After Multiplying all elements in a set by 2.",set(my_set))

After Multiplying all elements in a set by 2. {160, 2, 68, 12, -8}

In [189]:
#28. Create a set of random numbers.
from random import randint

my_list = []
for i in range(10):
    my_list.append(randint(1,20))
print("Random numbers set is:",set(my_list))

Random numbers set is: {1, 2, 5, 8, 11, 14, 15, 17, 19}

In [190]:
#29. Check if a set is empty.
my_set = set()
if my_set == set():
    print("Given set is empty")
else:
    print("Given set is not empty")

Given set is empty

In [191]:
#30. Create a nested set (hint: use frozenset).
my_set = {1,2}
my_set.add(frozenset([2,3]))
print("Nested set",my_set)

Nested set {1, 2, frozenset({2, 3})}

In [192]:
#31. Remove an element from a set using the discard method.
my_set = {1,80,34,-4,6}
my_set.discard(34)
print("After discarding element from set:",my_set)

After discarding element from set: {1, 6, 80, -4}

In [193]:
#32. Compare two sets.
my_set1 = {1,2,3}
my_set2 = {1,2,4}

print("my_set1 == my_set2:", my_set1 == my_set2)  # Equality check
print("my_set1 != my_set2:", my_set1 != my_set2)  # Inequality check
print("my_set1 < my_set2:", my_set1 < my_set2)    # Less than check
print("my_set1 <= my_set2:", my_set1 <= my_set2)  # Less than or equal to check
print("my_set1 > my_set2:", my_set1 > my_set2)    # Greater than check
print("my_set1 >= my_set2:", my_set1 >= my_set2)  # Greater than or equal to check

my_set1 == my_set2: False
my_set1 != my_set2: True
my_set1 < my_set2: False
my_set1 <= my_set2: False
my_set1 > my_set2: False
my_set1 >= my_set2: False

In [194]:
#33. Create a set from a string.
string = input("Enter a string: ")
my_set = set(string)
print(f"string {string} is converted to set {my_set}")

Enter a string: python
string python is converted to set {'o', 'h', 'y', 't', 'n', 'p'}

In [195]:
#34. Convert a set of strings to a set of integers.
my_set1 = {'1','3','0','45','34','1','3'}
my_set = set([int(i) for i in my_set1])
print("After Converting a set of strings to a set of integers.",my_set)

After Converting a set of strings to a set of integers. {0, 1, 34, 3, 45}

In [196]:
#35. Convert a set of integers to a set of strings.
my_set1 = {1,3,0,45,34,1,3}
my_set = set([str(i) for i in my_set1])
print("After Converting a set of integers to a set of strings.",my_set)

After Converting a set of integers to a set of strings. {'45', '1', '3', '0', '34'}

In [197]:
#36. Create a set from a tuple.
my_tup1 = (1,3,0,45,34,1,3)
print("After Converting a tuple to set:",set(my_tup1))

After Converting a tuple to set: {0, 1, 34, 3, 45}

In [198]:
#37. Convert a set to a tuple.
my_set = {1,3,0,45,34,1,3}
print("After Converting a set to tuple:",tuple(my_set))

After Converting a set to tuple: (0, 1, 34, 3, 45)

In [199]:
#38. Find the maximum value in a set.
my_set = {1,3,0,45,34,1,3}
print("maximum value in a set:",max(my_set))

maximum value in a set: 45

In [200]:
#39. Find the minimum value in a set.
my_set = {1,3,0,45,34,1,3}
print("minimum value in a set:",min(my_set))

minimum value in a set: 0

In [201]:
#40. Create a set from user input.
my_set =  set(input('Enter space-seperated value of set: ').split())
print("Set is: ",my_set)

Enter space-seperated value of set: 1 2 3 2 1
Set is:  {'1', '2', '3'}

In [202]:
#41. Check if the intersection of two sets is empty.
my_set1 = {1,80,34,-4,6}
my_set2 = {3,5,56,-9,0}
if my_set1.intersection(my_set2) == set():
    print("intersection of two sets is empty")
else:
    print("intersection of two sets is not empty")

intersection of two sets is empty

In [203]:
#42. Create a set of the first 5 Fibonacci numbers.
num = 5
n1, n2 = 0, 1
my_list =[]
my_list.extend([n1,n2])
for i in range(2, num):
    n3 = n1 + n2
    n1 = n2
    n2 = n3
    my_list.append(n3)
print("Set of the first 10 Fibonacci numbers:",set(my_list))

Set of the first 10 Fibonacci numbers: {0, 1, 2, 3}

In [204]:
#43. Remove duplicates from a list using sets.
my_list = [1,3,0,45,34,1,3]
my_set = set(my_list)

print("After removing duplicates: ", list(my_set))

After removing duplicates:  [0, 1, 34, 3, 45]

In [205]:
#44. Check if two sets have the same elements, regardless of their count.
my_set1 = {1,2,3,1,2,3,1}
my_set2 = {1,2,3}

if my_set1 == my_set2:
    print("Both sets have same elements")
else:
    print("Both sets have different elements")

Both sets have same elements

In [206]:
#45. Create a set of the first `n` powers of 2.
n = int(input("Enter a value of n: "))
set1 = set([2**i for i in range(n+1)])
print("set of the first `n` powers of 2:",set1)

Enter a value of n: 6
set of the first `n` powers of 2: {32, 1, 2, 64, 4, 8, 16}

In [207]:
#46. Find the common elements between a set and a list.
my_set1 = {1,2,3,1,2,3,1}
my_list = [1,5,6,7]
my_set2 = set(my_list)
my_set1.intersection(my_set2)
print("Common elements between a set and a list: ",my_set1.intersection(my_set2))

Common elements between a set and a list:  {1}

In [208]:
#47. Create a set of the first `n` triangular numbers.
limit = 10
triangle_nums = []
num = 0

for i in range(1, limit + 1):
    num += i
    triangle_nums.append(num)
print("set of the first `n` triangular numbers:",set(triangle_nums))

set of the first `n` triangular numbers: {1, 3, 36, 6, 10, 45, 15, 21, 55, 28}

In [209]:
#48. Check if a set contains another set as a subset.
my_set1 = {1,2,3,1,2,3,1}
my_set2 = {1,2}
if my_set2.issubset(my_set1):
    print(f"{my_set2} is a subset of {my_set1}")
else:
    print(f"{my_set2} is not a subset of {my_set1}")

{1, 2} is a subset of {1, 2, 3}

In [210]:
#49. Create a set of alternating 1s and 0s of length `n`.
n = int(input("Enter a value of n: "))
if n%2==0:
    tup = (1,0)*(n//2)
else:
    tup = (1,0)*(n//2) + (1,)
print(f"set of alternating 1s and 0s of length {n}: {set(tup)}")

Enter a value of n: 5
set of alternating 1s and 0s of length 5: {0, 1}

In [213]:
#50. Merge multiple sets into one.
my_set1 = {1,2}
my_set2 = {3,4}
my_set3 = {5,6}
merged_set = my_set3.union(my_set1, my_set2)
print("Merged set: ",merged_set)

Merged set:  {1, 2, 3, 4, 5, 6}